<h3><%= @file_profile.file_name %></h3>

<table class="line-profile table table-bordered">
  <thead>
    <tr>
      <th class="wall-time">Wall</th>
      <th class="cpu-time">CPU</th>
      <th class="cpu-time">Idle</th>
      <th>Calls</th>
      <th class="fill-column"></th>
    </tr>
  </thead>
  <tr>
    <%
        summary = @file_profile.summary
    %>
    <td class="stats wall-time">
<pre>
<%- summary.wall.each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= profile_time(datum) %></span>
<%- end -%>
</pre>
    </td>
    <td class="stats cpu-time">
<pre>
<%- summary.cpu.each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= profile_time(datum) %></span>
<%- end -%>
</pre>
    </td>
    <td class="stats cpu-time">
<pre>
<%- summary.idle.each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= profile_time(datum) %></span>
<%- end -%>
</pre>
    </td>
    <td class="stats">
<pre>
<%- summary.calls.each_with_index do |datum, index| -%>
<span class="line-<%= index %>"><%= datum %></span>
<%- end -%>
</pre>
    </td>
    <td>
      <%= raw(Pygments.highlight(@file_profile.contents, :lexer => 'ruby')) %>
    </td>
  </tr>
</table>
