<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="wall-time">Wall</th>
      <th class="cpu-time">CPU</th>
      <th class="cpu-time">Idle</th>
      <th class="fill-column">File</th>
    </tr>
  </thead>
  <tbody>
    <% @sorted_profile.each do |file_profile| %>
    <tr class="<%= file_profile_class(file_profile) %>">
      <td class="wall-time"><%= profile_time(file_profile.total) %></td>
      <td class="cpu-time"><%= profile_time(file_profile.total_cpu) %></td>
      <td class="cpu-time"><%= profile_time(file_profile.idle_time) %></td>
      <td><%= link_to file_profile.file_name, file_app_profile_path(@app, @profile,
                                                      :filename => file_profile.file_name) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
